/* Paleta de cores:
Escuro _ #232323
Claro _ #FBF8F3
Roxo _ #6E5DCF | Rosa _ #C27DFC
Verde _ #87E1C7 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
}

header .logo {
    width: 50%;
}

header .logo img {
    height: 70px;
    background-color: rgba(187, 187, 187, 0.350);
    padding: 2px;
    border-radius: 50px;
}

.nav {
    display: flex;
}

.nav li {
    list-style: none;
    padding: 0 20px;
}

.nav li a {
    text-transform: uppercase;
    color: #fbf8f3;
    transition: color 0.5s ease;
}

.nav li a:hover {
    color: #6E5DCF;
}

header .menu-mobile {
    display: none;
}

.header .btn-mobile {
    display: none;
}


/* Conteúdo Principal */

#home .container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.255), rgba(0, 0, 0, 0.355)),url(/Imagens/Background_Image.jpeg);
    background-size: cover;
}

#home .container .icons {
    width: 10%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    position: fixed;
    z-index: 100;
}

#home .container .icons ion-icon {
    padding: 30px 0;
    font-size: 2rem;
    color: #fbf8f3;
    transition: color 0.5s ease;
}

#home .container .icons ion-icon:hover {
    color: #6E5DCF;
}

#home .container .title {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 50px;

    color: #fbf8f3;
    text-transform: uppercase;
}

#home .container .title h1 {
    font-size: 4rem;
    letter-spacing: 5px;
}

#home .container .title h2 {
    font-size: 2rem;
    letter-spacing: 40px;
    margin-left: 30px;
}

#home .container .title h3 {
    font-size: 1rem;
    letter-spacing: 15px;
    margin-top: 30px;
    margin-left: 30px;
}


/* SESSÃO: Sobre Mim */

#about .container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.255), rgba(0, 0, 0, 0.355)),url(/Imagens/Background_About.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#about .container .title {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 60px;
}

#about .container .title h1 {
    color: #fbf8f3;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: left;
}

#about .container .title p {
    color: #fbf8f3;
    width: 500px;
    margin-top: 30px;
}

#about .container .box-title {
    width: 450px;
    height: 350px;
    margin-top: 20px;
    padding: 0 10px;
    box-shadow: 0 0 10px 0 rgba(110, 93, 207, 0.5);
    border-radius: 20px;
}

#about .container .box-title span {
    color: #fbf8f3;
}

#about .container .box-title .box_1 {
    width: 400px;
    height: 8px;
    background-color: #fbf8f3;
    margin-top: 2px;
    border-radius: 5px;
}

#about .container .box-title .box_2, .box_3, .box_4, .box_5 {
    width: 360px;
    height: 8px;
    background-color: #6E5DCF;
    border-radius: 5px;
}

#about .container .box-title .box_3 {
    width: 300px;
}
#about .container .box-title .box_4 {
    width: 240px;
}
#about .container .box-title .box_5 {
    width: 30px;
}


/* SESSÃO: Portfólio */

#portfolio .container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.255), rgba(0, 0, 0, 0.355)),url(/Imagens/Background_Portfolio.jpg);
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portfolio .container input[type=radio] {
    display: none;
}

#portfolio .container .card {
    position: absolute;
    width: 40%;
    height: 80%;
    left: 0;
    right: 0;
    margin: 140px auto;
    box-shadow: 0 0 10px 0 rgba(110, 93, 207, 0.5);
    transition: 0.4s ease;
    cursor: pointer;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#portfolio .container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#portfolio .container .cards #song_3 > img {
    filter: blur(5px);
}

#portfolio .container .card h1 {
    position: absolute;
    z-index: 5;
    color: #fbf8f3;
    font-size: 6rem;
    margin-top: 60px;
    background-color: rgba(35, 35, 35, 0.499);
    border-radius: 20px;
}

#portfolio .container .card p {
    position: absolute;
    z-index: 5;
    width: 400px;
    color: #232323;
    margin-top: 200px;
    padding: 10px;
    text-align: justify;
    background-color: #fbf8f3c9;
    border-radius: 20px;
}

#portfolio .container .card button {
    position: absolute;
    z-index: 5;
    margin-top: 400px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgba(110, 93, 207, 0.5);
    text-transform: uppercase;
    cursor: pointer;
}

#portfolio .container .card button a {
    color: #fbf8f3;
}

#portfolio .container .cards {
    position: relative;
    width: 100%;
    height: 100%;
}

#item_1:checked ~ .cards #song_3, 
#item_2:checked ~ .cards #song_1, 
#item_3:checked ~ .cards #song_2 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item_1:checked ~ .cards #song_2, 
#item_2:checked ~ .cards #song_3, 
#item_3:checked ~ .cards #song_1 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item_1:checked ~ .cards #song_1, 
#item_2:checked ~ .cards #song_2, 
#item_3:checked ~ .cards #song_3 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}


/* SESSÃO: Contato */

#contact .container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.255), rgba(0, 0, 0, 0.355)),url(/Imagens/Background_Contact.jpg);
    background-size: cover;
}

#contact .container .content-contact {
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    padding: 200px 0;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#contact .content-contact .contact-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fbf8f3;
}

#contact .content-contact .contact-left h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

#contact .content-contact .line {
    width: 350px;
    height: 3px;
    background-color: #fbf8f3;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact .content-contact .contact-left ion-icon {
    font-size: 2rem;
    padding: 20px 0;
}

#contact .content-contact .contact-left span {
    font-size: 1.2rem;
    padding: 5px 0;
}

#contact .content-contact .contact-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fbf8f3;
}

#contact .content-contact .contact-right h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

#contact .content-contact .contact-right input[type=email], input[type=text] {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

#contact .content-contact .contact-right textarea {
    width: 100%;
    height: 120px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;

    resize: none;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #C27DFC;
    border-radius: 10px;
}


/* Responsividade */

@media screen and (max-width: 1200px) {
    #home .container .icons ion-icon {
        font-size: 1.5rem;
    }

    #portfolio .container .card h1 {
        font-size: 5rem;
    }

    #portfolio .container .card p {
        width: 280px;
        font-size: 0.8rem;
    }

    #contact .content-contact .contact-left h1 {
        font-size: 1.5rem;
    }

    #contact .content-contact .contact-right h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 960px) {
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.255), rgba(0, 0, 0, 0.355));
    }

    header {
        background: none;
    }

    header .logo {
        width: 600px;
    }

    header .menu, .nav {
        display: none;
    }

    header .btn-mobile {
        display: block;
    }

    header .btn-mobile ion-icon {
        color: #fbf8f3;
        font-size: 2.5rem;
    }

    header .menu-mobile {
        display: none;
        width: 50%;
        height: 180px;
        box-shadow: 0 0 15px 0 rgba(110, 93, 207, 0.5);
        position: fixed;
        top: 20px;
        border-radius: 10px;
        background: #6E5DCF;
    }

    header .menu-mobile ul {
        text-align: center;
    }

    header .menu-mobile ul li {
        list-style: none;
        padding: 12px 0;
    }

    header .menu-mobile ul li a {
        text-transform: uppercase;
        color: #fbf8f3;
    }

    #home .container .icons {
        padding: 0 20px;
    }

    #home .container .title {
        align-items: center;
    }

    #home .container .title h1 {
        font-size: 3.5rem;
    }

    #home .container .title h2 {
        font-size: 1.2rem;
    }

    #home .container .title h3 {
        font-size: 0.9rem;
    }

    #about .container .title {
        align-items: center;
    }

    #about .container .box-title {
        width: 100%;
    }

    #about .container .box-title .box_1 {
        width: 95%;
    }
    #about .container .box-title .box_2 {
        width: 90%;
    }
    #about .container .box-title .box_3 {
        width: 75%;
    }
    #about .container .box-title .box_4 {
        width: 60%;
    }
    #about .container .box-title .box_5 {
        width: 7.5%;
    }

    #contact .container .content-contact {
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #contact .content-contact .contact-left h1 {
        font-size: 1.5rem;
    }

    #contact .content-contact .contact-left ion-icon {
        font-size: 1.5rem;
        padding: 5px 0;
    }

    #contact .content-contact .contact-left span {
        font-size: 1rem;
        padding: 5px 0;
    }

    #contact .content-contact .contact-right h1 {
        font-size: 1.5rem;
        margin-top: 60px;
    }

    #contact .content-contact .contact-right input[type=email], input[type=text] {
        padding: 10px 15px;
        font-size: 1rem;
    }

    #contact .content-contact .contact-right textarea {
        padding: 10px 15px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 750px) {
    header {
        padding: 10px;
    }

    #home .container .title h2 {
        letter-spacing: 30px;
    }
    
    #home .container .title h3 {
        letter-spacing: 10px;
    }

    #home .container .title {
        padding: 10px 60px;
    }

    #home .container .title p {
        width: 100%;
        margin-top: 30px;
    }

    #portfolio .container .card {
        width: 60%;
        height: 60%;
    }
}